@import "tailwindcss";

/*Default color (here skyglow as root)*/
:root{
    --background: #d2e5f3;
    --foreground: #1f2a37;
    --hover: #bfd8ed;
    --accent: #91bad6;
    --accent-foreground: #7ca8c8;
}
.flare {
    --background: #fc1471;
    --foreground: #ffffff;
    --hover: #e01165;
    --accent: #ff4d94;
    --accent-foreground: #ffe3ed;
}
.sunhaze{
    --background: #fbf6cf;
    --foreground: #2e2a1f;
    --hover: #fce588;
    --accent: #f7c948;
    --accent-foreground: #fff3c4;
}

@theme inline{
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-hover: var(--hover);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
 }



